{% extends "base.html" %}

{% block content %}

<div class="w3-container">
    <header class="w3-container">
        <h2>Global Protect</h2>
    </header>

    <!-- Device Selector -->
    <div class="w3-row">
        <div class="w3-col m2 w3-center" style="visibility: hidden" ;>Hidden column for a nice display</div>
        <div class="w3-col m8 w3-center">
            <header class="w3-container w3-blue">
                <div class="w3-dropdown-hover w3-blue">
                    <h3>Select Devices</h3>
                </div>
            </header>
            <div class="w3-container w3-margin" id="div-gp-devices">
                <!-- Dynamic Content goes here-->
            </div>
            <footer class="w3-container w3-blue">
                <button class="w3-button w3-block w3-blue" id="gp-session-button">
                    Get Session Info
                </button>
            </footer>
        </div>
        <div class="w3-col m2 w3-center" style="visibility: hidden" ;>Hidden column for a nice display</div>

        <!-- Notice -->
        <div class="w3-col m12 w3-center w3-padding">
            <div class="w3-panel w3-yellow w3-card-4 w3-padding-large w3-round-large"
                style="max-width: 50%; margin: 0 auto 20px auto; display: flex; align-items: center; justify-content: center;">
                <p class="w3-large w3-text-black"><strong>Notice:</strong> This feature is only supported on Palo Alto
                    firewalls.</p>
            </div>
        </div>
    </div>

    <br><br>

    <!-- Session Info table -->
    <header class="w3-container w3-green" id="sessionHeader">
        <h3>Global Protect Sessions</h3>
    </header>
    <div class="w3-container w3-margin">
        <div class="w3-card" id="gp_session_card">
            <div class="w3-container w3-border w3-padding-16" id="sessionAccordion">
                <!-- Dynamic content goes here -->
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/gp.js') }}"></script>

{% endblock %}