<div class="w3-container">
    <header class="w3-container">
        <h2>Service Objects</h2>
    </header>

    <!-- Service Object List #1 -->
    <div class="w3-container w3-half">
        <div class="w3-card">
            <header class="w3-container w3-blue">
                <div class="w3-dropdown-hover w3-blue">
                    <button class="w3-button w3-hover-blue w3-blue">
                        <h3>Select Device #1 <i class="fa fa-caret-down"></i></h3>
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-card deviceDropdown" id="serviceDropdownA">
                        <!-- Devices dynamically populate here-->
                    </div>
                </div>
                <!-- Refresh Icon -->
                <button id="refreshButtonServicesA" class="refresh-icon">
                    <i class="fa-solid fa-rotate"></i>
                </button>
            </header>
            <div id="serviceAccordionA" class="w3-container w3-margin">
                <!-- Dynamic content goes here -->
            </div>
            <footer class="w3-container w3-blue">
                <h5>Footer</h5>
            </footer>
        </div>
    </div>

    <!-- Service Object List #2 -->
    <div class="w3-container w3-half">
        <div class="w3-card">
            <header class="w3-container w3-green">
                <div class="w3-dropdown-hover w3-green">
                    <button class="w3-button w3-hover-green w3-green">
                        <h3>Select Device #2 <i class="fa fa-caret-down"></i></h3>
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-card deviceDropdown" id="serviceDropdownB">
                        <!-- Devices dynamically populate here-->
                    </div>
                </div>
                <!-- Refresh Icon -->
                <button id="refreshButtonServicesB" class="refresh-icon">
                    <i class="fa-solid fa-rotate"></i>
                </button>
            </header>
            <div id="serviceAccordionB" class="w3-container w3-margin">
                <!-- Dynamic content goes here -->
            </div>
            <footer class="w3-container w3-green">
                <h5>Footer</h5>
            </footer>
        </div>
    </div>

    <!-- Compare Button -->
    <div class="w3-container w3-padding-16">
        <div class="w3-container w3-center w3-margin">
            <button class="w3-button w3-block w3-yellow" id="serviceObjectCompare" disabled>Compare</button>
        </div>
    </div>
</div>